<h2>Login</h2>

<p id="notice"><%= notice %></p>

<%= form_for(:login, method: :post, url: {action: 'create'}) do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit 'Login', "onclick" => "ga('send', 'event', 'button', 'login', $('#login_username').val());return true;" %>
<% end %>