<h2><%= @user.username %></h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Following</h3>

<ul>
	<% @user.following.each do |user| %>
		<li><%= link_to user.username, user %>
			<%= form_for(@user.active_relationships.build, remote: true) do |f| %>
				<div>
				  <%= hidden_field_tag :followed_id, user.id %>
				</div>
				<%= f.submit "Follow", class: "btn btn-primary" %>
			<% end %>
		</li>
	<% end %>
</ul>

		<h3>Followed by</h3>

		<ul>
		  <% @user.followers.each do |user| %>
			  <li><%= link_to user.username, user %></li>
		  <% end %>
		</ul>
