<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<%= follow_or_unfollow_user(@user) %>
<h3>Posts</h3>
<ul>
  <% @user.messages.each do |message| %>
  	<li><%= message.body %> (<%= message.created_at %>)</li>
  <% end %>
</ul>

<%= link_to 'Back', dashboard_path %>
