<!DOCTYPE html>
<html>
<head>
  <title>Platform161Twitter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
  <% if @current_user %>
	  Welcome <%= link_to @current_user.username , edit_user_path(@current_user) %> | <%= link_to 'Dashboard', root_path %> | <%= link_to 'Users', users_path %> | <%= link_to 'Logout', session_path(@current_user.id), :method => :delete %>
  <% else %>
	  <%= link_to 'Please log in', new_session_path %> | <%= link_to 'Register', new_user_path %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
